html,
body,
#root,
.App {
  height: 100%;
  text-align: center;
}

/* .App {
} */

.list {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 200px;
  border: black 1px solid;
  border-radius: 25px;
  margin: 20px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item img {
  width: 175px;
}

.detail {
  width: 500px;
  border: black 1px solid;
  border-radius: 25px;
  margin: 20px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail img {
  width: 400px;
}